.dropdown {
    position: relative;
}

.dropdown .dropdown-content {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: red;
    cursor: pointer;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    display: block;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
}
