.temp-test {
    position: relative;
}

.temp-test:hover + .temp-test-sub {
    display: block;
}

.temp-test-sub {
    position: absolute;
    display: none;
    width: 100px;
    height: 10px;
    background-color: red;
}
