.dropdown {
    position: relative;
    z-index: 2;
}

.dropdown .dropdown-content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: red;
    z-index: 1;
}


.dropdown:hover .dropdown-content {
    transform: translateY(100%);
}

.dropdown-content a {
    display: block;
    /* display: flex;
    
    text-decoration: none;
    color: #fff;
}
