.dropdown {
    position: relative;
}

.dropdown .dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    /* height: 100%; */
    background-color: red;
    z-index: 1;
}

.dropdown .dropdown-content::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    top: -5px;
    height: 10px;
    background-color: aqua;
}

.dropdown:hover .dropdown-content,
.dropdown-content:hover {
    display: block;
}

.dropdown-content a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
}
