.temp-test {
    position: relative;
}

.temp-test:hover .temp-test-sub {
    display: flex;
}

.temp-test-sub {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: red;
}

.temp-test-sub li a {
    text-decoration: none;
}
