.dropdown {
    position: relative;
}

.dropdown .dropdown-content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: red;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    transition: 0.1s linear;
    transform: translateY(100%);
}

.dropdown:hover .dropdown-content::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 20px;
    top: -15px;
    left: 0;
    background-color: aqua;
}

/* .dropdown-content a {
    display: block;
    display: flex;
    
    text-decoration: none;
    color: #fff;
} */
