.payment {
    position: relative;
    border: 1px solid #ccc;
    padding: 10px 10px;
    border-radius: 10px;
}

.payment::before {
    content: "Credit or debit card";
    position: absolute;
    background-color: #fff;
    color: #000;
    transform: translateY(-10px);
}
